<div class="row">
	<div class="small-12 columns">
		<h3>Active Servers</h3>
		<ul class="medium-block-grid-3">
			<% @servers.each do |server| %>
				<li>
          <div class="panel">
					  <div class="server-item" data-server="<%= server.id %>" data-view-type="dashboard">
              <div class="spinner"></div>
            </div>
          </div>
				</li>
			<% end %>
		</ul>
	</div>
</div>