<%= render 'server/sidebar' %>

<div class="small-12 large-9 columns">
  <div class="panel">
    <%= render 'server/links', server: @server %>
  
  	<ul class="medium-block-grid-2">
  		<% @sites.each do |site| %>
  			<li>
  				<%= render 'item', server: site.server, site: site, view_type: :index %>
  			</li>
  		<% end %>
  	</ul>
    <%= render 'sudo_form', item: @server, url: server_site_index_path(@server), hidden: true unless @pwd_not_needed %>
  </div>
</div>