body
{
  background-color: #f8f8f8;
}

main
{
  margin-top: 2em;
}

.full-width
{
  width: 100%;
}

.CodeMirror
{
  margin: 10px 0;
  height: 700px;
  border: 1px solid #e3e3e3;
}

.panel
{
  border-radius: 3px;
  h1
  {
    margin-bottom: 0.6em;
  }
  h3
  {
    margin-top: 0.6em;
  }
  h5
  {
    margin-top: 1em;
  }
  .monitor
  {
    padding-top: 1em;
  }
  .server-item
  {
    min-height: 174px;
    text-align: center;
  }
}

.top-bar-section
{
  li:not(.has-form) a:not(.button).active
  {
    background-color: #008cba;
  }
}

.management-menu
{
  margin-bottom: 20px;
}

div.switch label
{
  margin-top: 1em;
}

.button-group
{
	&.stack li
	{
		margin-bottom: 10px;
	}
}

.f-dropdown 
{
	&:before, &:after
	{
		display: none;
	}
	.button-group li:hover
	{
		background: none;
	}
}

div.input input
{
  height: 2.725rem;
}

.reveal-modal .close-reveal-modal
{
  line-height: 24px;
}

.inline-list li
{
	display: inline-block;
	float: none;
}