body
{
  background-color: #f8f8f8;
}

main
{
  margin-top: 2em;
}

.panel
{
  border-radius: 3px;
  h1
  {
    margin-bottom: 0.6em;
  }
  h3
  {
    margin-top: 0.6em;
  }
  h5
  {
    margin-top: 1em;
  }
}

.top-bar-section
{
  li:not(.has-form) a:not(.button).active
  {
    background-color: #008cba;
  }
}

.management-menu
{
  margin-bottom: 20px;
  background-color: #444;
  .top-bar-section ul 
  {
    li, li:not(.has-form) a:not(.button):not(.active)
    {
      background-color: #444;
      &:hover
      {
        background-color: #373737;
      }
    }
  }
}

.CodeMirror
{
  margin: 10px 0;
  height: 700px;
  border: 1px solid #e3e3e3;
}

div.switch label
{
  margin-top: 1em;
}

.f-dropdown:before, .f-dropdown:after
{
  display: none;
}