body
{
  background-color: #f8f8f8;
}

main
{
  margin-top: 2em;
}

.full-width
{
  width: 100%;
}

.CodeMirror
{
  margin: 10px 0;
  height: 700px;
  border: 1px solid #e3e3e3;
}

.management-menu
{
  margin-bottom: 20px;
}

.server-output
{
  textarea.output
  {
    min-height: 500px;
  }
  .button
  {
    margin-bottom: 0;
  }
}