body
{
  background-color: #f8f8f8;
}

main
{
  margin-top: 2em;
}

.panel
{
  h1
  {
    margin-bottom: 0.6em;
  }
  h3
  {
    margin-top: 0.6em;
  }
  h5
  {
    margin-top: 1em;
  }
}

.sidebar
{
  ul
  {
    list-style: none;
    margin-left: 0;
    li
    {
      border-bottom: 1px dotted #ccc;
      padding: 5px 0;
    }
  }
}

.full-width
{
  width: 100%;
}

.CodeMirror
{
  margin: 10px 0;
  height: 700px;
  border: 1px solid #e3e3e3;
}

div.switch label
{
  margin-top: 1em;
}

.f-dropdown:before, .f-dropdown:after
{
  display: none;
}