.status
{
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  &.two
  {
    background-color: #bada55;
  }
  &.eight, &.nine
  {
    background-color: #d85454;
  }
}

.favicon
{
  width: 24px;
  height: 24px;
  margin: 0 10px;
  vertical-align: bottom;
}

img.border
{
  padding: 1px;
  border: 1px solid #ccc;
}

.success
{
  color: darken($success-color, 10);
  background-image: image-url('icons/success.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}