<div class="small-12 medium-3 columns sidebar">
  <div class="panel">
	  <div class="server-item" data-server="<%= @server.id %>" data-view-type="sidebar">
      <div class="spinner"></div>
    </div>
  </div>
</div>