<a href="#" data-dropdown="server-<%= server.id %>" class="button dropdown">Actions</a><br>
<ul id="server-<%= server.id %>" data-dropdown-content class="f-dropdown">
  <%= render 'server_actions', server: server %>
</ul>