<ul class="inline-list">
  <li><%= link_to "Status", server_path(server) %></li>
  <li><%= link_to "Sites", server_site_index_path(server) %></li>
  <li><%= link_to "Apache Config", apache_config_server_path(server) %></li>
</ul>