<a href="#" data-dropdown="site-<%= site.id %>" class="button dropdown">Actions</a><br>
<ul id="site-<%= site.id %>" data-dropdown-content class="f-dropdown">
  <%= render 'site_actions', site: site %>
</ul>