<a href="#" class="button split">Actions <span data-dropdown="site-<%= site.id %>"></span></a><br>
<ul id="site-<%= site.id %>" data-dropdown-content class="f-dropdown">
  <li><%= link_to "View Site",  site.url, target: '_blank' %></li>
</ul>