<%= render 'server_sidebar' %>

<div class="small-12 medium-9 columns">
  <table class="full-width">
    <thead>
      <tr>
        <th colspan="2">System Info</th>
      </tr>
    </thead>
    <tbody>
    <% @server.info.each do |line| %>
      <tr>
        <% line = line.split(":") %>
        <td><%= line[0] %></td>
        <td><%= line[1] %></td>
      </tr>
    <% end %>
    <% if @server.info.empty? %>
      <tr>
        <td colspan="2"><em>Could not obtain server info</em></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>